.appBar {
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.banner {
  height: 90px;
  pointer-events: none;
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
