.appBar {
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.banner {
  height: 90px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .banner {
    animation: 1s linear 1s slidein;
  }
}
@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
