.todo-creator {
    display: grid;
    padding: 1% 30%;
    grid-template-columns: 12fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'input add add'
        'options up down';
    align-items: center;
    justify-content: center;
}

.todo-creator-input {
    padding: 0px 3px;
    grid-area: input;
}

.todo-creator-add {
    grid-area: add;
}

.todo-creator-options {
    grid-area: options;
}

.todo-creator-up {
    grid-area: up;
}

.todo-creator-down {
    grid-area: down;
}