.todo-item-text {
  width: 100%;
  background: white;
  border: 1px solid blue;
  padding: 5px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  color: black;
}
