.button {
  width: 100%;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  opacity: 90%;
  border: none;
  border-radius: 8px;
}

.button:hover {
  opacity: 100%;
}

.add {
  background: #8faadc;
}

.remove {
  background: #e9c46a;
}

.up {
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(0deg,
      #acbcda 0%,
      #8faadc 25%,
      #4a7ad4 100%);
}

.down {
  border-radius: 0px 8px 8px 0px;
  background: linear-gradient(180deg,
      #acbcda 0%,
      #8faadc 25%,
      #4a7ad4 100%);
}