.input {
    width: 100%;
    font-size: 1.3em;
    padding: 5px;
    outline: none;
    border-radius: 3px;
}

.empty {
    border: 3px solid #bcbcbc;
}

.valid {
    border: 3px solid #849324;
}

.invalid {
    border: 3px solid #fd151b;
}
